*{
  margin: 0;
  padding: 2px;
  margin: 2px;
  background-color: rgb(195, 255, 205);
  
}
.container{
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}
h1{
  color: brown;
  position: static;
}
.mainf{
display: grid;
}
.todo{
  list-style: none;
  display: flex;
}
#input{
  background-color: beige;
  color: black
}
#add{
  background-color: rgb(61, 146, 61);
  color: blanchedalmond;
}
#del{
  background-color: blue;
  color: bisque;
}
#del:hover{
  background-color: red;
}
ol{
  color: rgb(209, 134, 21);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
